body {
  width: 1024px;
  margin: 0px auto;
  font-family: Arial;
}

header {
  margin-top: 2rem;
}
header form input {
  margin: 0px auto;
  display: block;
  width: 30rem;
}

div.flex-container {
  display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;

  margin-top: 2rem;
}

div.link-box {
  -webkit-flex: auto;
	flex: 30rem;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);

  background-color: #DBDBDB;
}


div.link-box div.headline {
  background-color: #3056CF;
  padding: 1rem 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

div.link-box div.headline > h2 {
  text-align: center;
  margin: 0;
  color: #FFF;
}

div.link-box ul {
  list-style-type: none;
  padding: 0;
}

div.link-box ul a {
  padding: 0.5rem 0;
  text-decoration: none;
  display: block;
  padding-left: 2rem;
  font-weight: bold;
  font-size: 1.2rem;
  color: #2D5B9F;

  transition: all 300ms
}
div.link-box ul a:hover {
  background-color: #929292;
  color: #FFF !important;
  padding: 1.0rem 0;
  padding-left: 3rem;
  font-style: italic;
}
div.link-box ul a:visited {
  color: #2D5B9F;
}


div.link-box#box-1 div.headline {
  background-color: #3056CF;
}

div.link-box#box-2 div.headline {
  background-color: #45883F;
}

div.link-box#box-3 div.headline {
  background-color: #C10601;
}

div.link-box#box-4 div.headline {
  background-color: #DA8F1B;
}
