body
{
    font-family: 'Roboto', sans-serif;

    width: 1024px;
    margin: 0 auto;

    background-color: #133b61;
}

header
{
    margin-top: 2rem;
}
header form input
{
    font-size: .8rem;
    line-height: 150%;

    display: block;

    width: 30rem;
    margin: 0 auto;
    padding: .3rem;

    border-radius: 5px;
}

div.flex-container
{
    display: -webkit-flex;
    display:         flex;
            flex-direction: row;

    margin-top: 2rem;

    -webkit-flex-direction: row;
}

div.link-box
{
    margin: 10px;

    border-radius: 5px;
    background-color: #dbdbdb;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, .2);

    -webkit-flex: auto;
            flex: 30rem;
}


div.link-box div.headline
{
    padding: 1rem 0;

    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #3056cf;
}

div.link-box div.headline > h2
{
    margin: 0;

    text-align: center;

    color: #fff;
}

div.link-box ul
{
    margin-bottom: 0;
    padding: 0;

    list-style-type: none;
}

div.link-box ul a
{
    font-size: 1.2rem;
    font-weight: bold;

    display: block;

    padding: .5rem 0;
    padding-left: 2rem;

    transition: all 300ms;
    text-decoration: none;

    color: #2d5b9f;
}
div.link-box ul li:last-child a
{
    margin-bottom: 1rem;

    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
div.link-box ul li:last-child a:hover
{
    margin-bottom: 0rem;
}
div.link-box ul a:hover
{
    font-style: italic;

    padding: 1.0rem 0;
    padding-left: 3rem;

    color: #fff !important;
    background-color: #5b5b5b;
}
div.link-box ul li:hover ~ li a
{
    margin-bottom: 0rem !important;
}
div.link-box ul a:visited
{
    color: #2d5b9f;
}


div.link-box#box-1 div.headline
{
    background-color: #3056cf;
}

div.link-box#box-2 div.headline
{
    background-color: #45883f;
}

div.link-box#box-3 div.headline
{
    background-color: #c10601;
}

div.link-box#box-4 div.headline
{
    background-color: #da8f1b;
}
