body
{
    font-family: 'Roboto', sans-serif;

    max-width: 1024px;
    margin: 0 auto;

    background-color: #133b61;
}

.christmas
{
    background: rgba(194,2,2,1);
    background:    -moz-radial-gradient(center, ellipse cover, rgba(194,2,2,1) 0%, rgba(194,2,2,1) 0%, rgba(61,0,0,1) 80%, rgba(61,0,0,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(194,2,2,1)), color-stop(0%, rgba(194,2,2,1)), color-stop(80%, rgba(61,0,0,1)), color-stop(100%, rgba(61,0,0,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(194,2,2,1) 0%, rgba(194,2,2,1) 0%, rgba(61,0,0,1) 80%, rgba(61,0,0,1) 100%);
    background:      -o-radial-gradient(center, ellipse cover, rgba(194,2,2,1) 0%, rgba(194,2,2,1) 0%, rgba(61,0,0,1) 80%, rgba(61,0,0,1) 100%);
    background:     -ms-radial-gradient(center, ellipse cover, rgba(194,2,2,1) 0%, rgba(194,2,2,1) 0%, rgba(61,0,0,1) 80%, rgba(61,0,0,1) 100%);
    background:         radial-gradient(ellipse at center, rgba(194,2,2,1) 0%, rgba(194,2,2,1) 0%, rgba(61,0,0,1) 80%, rgba(61,0,0,1) 100%);

    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c20202', endColorstr='#3d0000', GradientType=1 );
}

header
{
    margin-top: 2rem;
}
header form input
{
    font-size: .8rem;
    line-height: 150%;

    display: block;

    width: 450px;
    margin: 0 auto;
    padding: .3rem;

    border-radius: 5px;
}

div.flex-container
{
    display: -webkit-flex;
    display:         flex;
            flex-direction: row;

    margin-top: 2rem;

    flex-wrap: wrap;
    -webkit-flex-direction: row;
}


div.second-container
{
    display: flex;

    max-width: 450px;
    margin: 100px auto;
    padding: 2rem;

    vertical-align: middle;

    border-radius: 5px;
    background-color: #dbdbdb;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, .2);

    justify-content: center;
}

@media screen and (max-width: 450px)
{
    div.second-container
    {
        margin: 50px 10px;
    }

    header form input
    {
        width: 100%;
        margin: 10px 0;
    }
}

div.link-box
{
    margin: 10px;

    border-radius: 5px;
    background-color: #dbdbdb;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, .2);

    -webkit-flex: auto;
            flex: 1rem;
}


div.link-box div.headline
{
    padding: 1rem 0;

    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #3056cf;
}

div.link-box div.headline > h2
{
    margin: 0;

    text-align: center;

    color: #fff;
}

div.link-box ul
{
    margin-bottom: 0;
    padding: 0;

    list-style-type: none;
}

div.link-box ul a
{
    font-size: 1.2rem;
    font-weight: bold;

    display: block;

    padding: .5rem 0;
    padding-left: 2rem;

    transition: all 300ms;
    text-decoration: none;

    color: #2d5b9f;
}
div.link-box ul li:last-child a
{
    margin-bottom: 1rem;

    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
div.link-box ul li:last-child a:hover
{
    margin-bottom: 0rem;
}
div.link-box ul a:hover
{
    font-style: italic;

    padding: 1.0rem 0;
    padding-left: 3rem;

    color: #fff !important;
    background-color: #5b5b5b;
}
div.link-box ul li:hover ~ li a
{
    margin-bottom: 0rem !important;
}
div.link-box ul a:visited
{
    color: #2d5b9f;
}


div#clock-container span
{
    font-weight: bold;
}


.bordered
{
    border-bottom: 1px solid #000;
}

div#additional-data span#pressure,
div#additional-data span#humidity
{
    display: block;;
}

div#temperature span
{
    font-size: 3em;
    font-weight: bold;
}

div#weather-container
{
    font-size: 1.3rem;

    text-align: center;
}

div#weather-icon
{
    font-size: 1rem;

    display: inline-block;

    padding-right: 10px;
}

div#wind-container
{
    width: auto;
    margin-top: 10px;
}

div#wind-container > div
{
    display: table;

    height: 100px;
    margin: 0 auto;
}

div#weather-icon img
{
    display: block;

    margin: 0 auto;
}

div#wind-data
{
    display: table-cell;

    padding-left: 10px;

    vertical-align: middle;
}

div#weather-data
{
    display: table-cell;

    padding-left: 70px;
}

div#weather-data table
{
    border-collapse: collapse;
}

div#weather-data table td
{
    padding: 10px 0;
}

div#weather-data table td span
{
    line-height: 150%;

    display: block;
}

div#weather-clock-container
{
    align-self: center;
}

div.compass
{
    display: inline-block;

    width: 100px;
    height: 100px;
    margin: 0 auto;

    border: 5px solid #444;
    border-radius: 100px;
    background: url('../img/compass.svg');
    background-size: 100%;
}

div.compass div#wind-arrow
{
    z-index: 1000;

    width: 100%;
    height: 100%;

    -webkit-transition: all 1s ease;
       -moz-transition: all 1s ease;
         -o-transition: all 1s ease;
            transition: all 1s ease;

    background: url('../img/arrow.svg');
    background-size: 100%;
}

div.search-suggestions
{
    width: 450px;
    margin: 0 auto;

    background-color: #fff;
}

div.search-suggestions a
{
    font-weight: bold;
    line-height: 150%;

    display: block;

    text-decoration: none;
}


div.link-box#box-1 div.headline
{
    background-color: #3056cf;
}

div.link-box#box-2 div.headline
{
    background-color: #45883f;
}

div.link-box#box-3 div.headline
{
    background-color: #c10601;
}

div.link-box#box-4 div.headline
{
    background-color: #da8f1b;
}

#snowflakeContainer
{
    position: absolute;
    top: 0;
    left: 0;
}
.snowflake
{
    font-family: Cambria, Georgia, serif;
    font-size: 14px;
    line-height: 24px;

    position: fixed;
    z-index: 1000;

    padding-left: 15px;

    user-select: none;

    color: #fff;
}
.snowflake:hover
{
    cursor: default;
}
